@tailwind base;

@layer base {
  body {
    @apply bg-gray-50;
  }

  h1 {
    @apply my-2 text-5xl font-display font-black text-center;
  }

  h2 {
    @apply text-3xl my-4  font-display font-black;
  }

  h3 {
    @apply text-2xl my-2 font-bold font-display;
  }

  h4 {
    @apply text-xl my-2 font-bold font-display;
  }

  h5 {
    @apply text-lg my-4 font-bold;
  }

  a {
    @apply text-pink-400 visited:text-black underline;
  }

  p {
    @apply my-4 leading-relaxed	;
  }


  ul {
    @apply list-inside list-disc;
  }

  ol {
    @apply list-decimal list-inside;
  }

  li {
    @apply my-2;
  }

  li p {
    @apply inline;
  }

  /*ul div {*/
  /*  @apply ml-5;*/
  /*}*/
  ul ul {
    @apply ml-5;
  }

  ol ul {
    @apply ml-5;
  }

  ol ol {
    @apply ml-5;
  }

  hr {
    @apply border-solid my-6;
  }

  iframe {
    @apply h-80 w-full;

  }

  video {
    @apply h-96 w-full;
  }

  button {
    @apply px-2 lg:px-4 py-2 bg-pink-400 text-black rounded-lg   border-2 border-black ;
  }
  button:focus {
    @apply outline-none;
  }

  button:hover {
    @apply bg-pink-500;
  }


  code {
    @apply bg-gray-100;
  }


  pre {
    @apply my-2;
  }

  blockquote {
    @apply italic;
  }


  figcaption {
    @apply text-sm text-gray-500 text-center;
  }


  /*
  Двигает маркер summary вправо
  https://stackoverflow.com/questions/56758098/how-to-position-detail-marker-to-come-after-summary
  */
  details {
    @apply my-2;
  }
  details>summary {

    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }

  summary::after {
    content: ' ▼';
  }
  details[open] summary:after {
    content: " ▲";
  }


  @font-face {
    font-family: 'AmazDooMLeft';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/AmazDooMLeft.ttf') format('truetype');
  }


  @font-face {
    font-family: 'AmazDooMRight';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/AmazDooMRight.ttf') format('truetype');
  }

}

@tailwind components;

@tailwind utilities;
